<div class="jumbotrons">
  

  <div class="row">
  
    <div ng-show="authenticated" class="col-md-6 col-md-offset-3">
      <h2>Type in here to send tweets</h2>
      
      <form>
        <div class="form-group">
            <textarea ng-model="newPost.text" class="form-control" name="" id="" cols="30" rows="5" maxlength="140" autofocus required></textarea>          
        </div>
        <div class="form-group text-right">
          <span class="text-muted">{{ 140 - newPost.text.length }} remaining</span>
          <button type="submit" ng-disabled="newPost.text.length == 0" ng-click="sendTweet();" class="btn btn-primary">Tweet</button>
        </div>
      </form>

    </div>
  
    <div class="col-md-6 col-md-offset-3">
      
      <div class="tweet-container">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="tweet in posts | orderBy: 'created_at':true ">
            <p class="text-info">{{ tweet.text | capitilize:'first' }}</p>
            Posted by - <span class="label label-success">@{{ tweet.created_by }}</span>
            <div class="pull-right">{{ tweet.created_at | date:'medium'}}</div>
            <a ng-click="deleteTweet($index);" href="" class="pull-right hide">Delete</a>
          </li>
          <li class="list-group-item" ng-hide="posts.length">No posts, Be the first one to create one</li>
        </ul>
      </div>
    </div>

  </div>
</div>
