<div class="jumbotrons">
  

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Type in here to send tweets</h2>
      
      <form>
        <div class="form-group">
          <textarea ng-model="newPost.text" class="form-control" name="" id="" cols="30" rows="5" maxlength="140" autofocus></textarea>
          <div class="text-muted text-right">{{ 140 - newPost.text.length }} remaining</div>
        </div>
        <div class="form-group text-right">
          <button ng-disabled="newPost.text.length == 0" ng-click="sendTweet();" class="btn btn-primary">Tweet</button>
        </div>
      </form>

    </div>
  
    <div class="col-md-8 col-md-offset-2">
      
      <div class="tweet-container">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="tweet in posts">
            {{ tweet.created_by }} 
            <span class="text-info">{{ tweet.text }}</span>
            <div class="pull-right">@{{ tweet.created_at | date:'medium'}}</div>
            <a ng-click="deleteTweet($index);" href="" class="pull-right">Delete</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
